frontend/node_modules
backend/node_modules

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


git remote add origin https://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@github.com/kismatkc/portfolio.git