.header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.header__menu{
  display: none;
}
.header__bars{
  color: var(--clr-light);
  width: var(--size-2xl);
  height: var(--size-2xl);

}


/* @media(min-width: 475px){

} */


/* @media(min-width: 640px){

} */



@media(min-width: 768px){
  .header__menu{
    display:flex;
    align-items: center;
    list-style: none;
    gap: 2em;
   
    
  }
  
  .header__menu  .header__links a{
    text-decoration: none;
    font-size: var(--size-xm);
    font-weight: 600;
    color: var(--color-slate600);
    transition: color .3s;
   
  }
  
  .header__menu  .header__links a:hover{
    color: var(--color-rose);
  }
  .header__line{
    border: 1px solid var(--color-slate600);
    padding-top: 1.5rem;
  }
  .header__sun{
    display: flex;
    align-items: center;
    color: var(--color-slate600);
  
    padding-top: .2rem;
    width: var(--size-2xl);
    height: var(--size-2xl);
    
  }
  .header__bars{
    display: none;
  }
}



@media(min-width: 1024px){
  .header__menu  .header__links a{
font-size: var(--size-sm);
  }
  .header__sun{
width: var(--size-3xl);
height: var(--size-3xl);

  }
  .header__resume{
font-size: var(--size-1xl);
  }

} 


@media(min-width: 1280px){

}

@media(min-width: 1536px){

} 