.header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.header__menu{
  display:flex;
  align-items: center;
  list-style: none;
  gap: 2em;
 
  
}

.header__menu  .header__links a{
  text-decoration: none;
  font-size: var(--size-xm);
  font-weight: 600;
  color: var(--color-slate600);
 
}


@media(min-width: 475px){

}


@media(min-width: 640px){

}



@media(min-width: 768px){

}



@media(min-width: 1024px){

}


@media(min-width: 1280px){

}

@media(min-width: 1536px){

}